---
import { config } from "../siteConfig";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Quote from "../components/Quote.astro";

export interface Props {
    frontmatter: {
        title: string;
        image: string;
        showTopQuote: boolean;
    };
}

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="description" content={config.siteDescription} />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body class="antialiased font-serif">
        <div class="bg-gray-100">
            <div class="bg-gray-800 pb-32">
                <header class="py-10">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                        <h1
                            class="text-xl md:text-3xl leading-9 font-bold text-white text-center"
                        >
                            {frontmatter.title}
                        </h1>
                    </div>
                </header>
            </div>
            <main class="-mt-32">
                <div class="max-w-4xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
                    <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
                        {frontmatter.showTopQuote && <Quote />}
                        <Hero image={frontmatter.image} />
                        <section
                            class="prose prose-slate md:prose-lg prose-hr:my-8 prose-h1:text-2xl md:prose-h1:text-3xl prose-h2:text-slate-700 prose-h2:text-2xl prose-a:underline prose-a:text-blue-600 mx-auto bg-white pb-8 prose-quoteless"
                        >
                            <slot />
                        </section>
                    </div>
                </div>
            </main>
            <Footer />
        </div>
    </body>
</html>
